@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* -----------Styles---------- */
/* 
1. Structural 
2. Typography 
3. Components
4. Classes & Identifiers
*/

/* --------------------------------- */

/* 1. Structural */
* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --pink: #fd53c0;
  --darkgreen: #01262f;
  --grey: #f6fbff;
  --white: #ffffff;
  --verydark: #000000;
  --bluegrey: #f6fbff;
  --lightblue: #00c7fa;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: roboto;
  font-weight: 300;
  overflow-x: hidden;
}
header {
  width: 100%;
  height: auto;
}
nav {
  width: 93rem;
  height: 3rem;
  margin: 2.1rem auto;
}
/* 2. Typography */

h1 {
  font-size: 3rem;
  font-family: roboto;
  font-weight: 700;
}
.hero-heading {
  padding-top: 8rem;
  text-align: center;
}

h2 {
  width: 600px;
  height: 90px;
  text-align: center;
  margin: 0 auto;
  font-family: roboto;
  font-weight: 300;
  font-size: 1.5rem;
}
h3 {
  font-family: roboto;
  font-weight: 300;
  font-size: 1rem;
}
.footer-heading {
  text-align: left;
  font-weight: 600;
}
.footer-social-icons-heading {
  line-height: 2;
}

/* 3. Components */
.btn-inverse {
  border-radius: 30px;
  border: 2px solid var(--pink);
  float: right;
  height: 40px;
  width: 136px;
  color: var(--pink);
  align-items: center;
  justify-items: center;
  background-color: unset;
}

.btn-primary {
  border: solid var(--pink);
  background-color: var(--pink);
  border-radius: 50px;
  color: var(--white);
  width: 400px;
  height: 80px;
  font-size: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
}
.nav-inline-btn {
  display: inline;
}
.subscribe-btn,
.subscribe-input {
  width: 11.4rem;
  height: 3.4rem;
  background-color: var(--pink);
  outline: unset;
  border: unset;
  border-radius: 4px;
}
.subscribe-input {
  width: 320px;
  height: 48px;
  background-color: var(--white);
  padding-left: 1rem;
}
.subscribe-btn {
  margin-left: 2.4rem;
  color: var(--white);
}

button {
  cursor: pointer;
}
/* 4. Classes & Identifiers */

.hero-section {
  height: 83rem;
  width: 73rem;
  margin: 0 auto;
  text-align: center;
}
.diagram-section {
  width: 63rem;
  height: 25rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.diagram-section > div {
  margin-top: 5rem;
}
div.hero-section > img {
  width: 73rem;
  height: 52rem;
  margin-top: 6rem;
}
.diagram-stats {
  font-size: 6rem;
  margin: 0;
}
.diagram-description {
  text-align: center;
  font-size: 1.2rem;
}

.grow-together-section > div img,
.your-users-section > div img {
  width: 40rem;
  height: 40rem;
  padding: 6rem 4rem;
  margin-right: 5rem;
}

.grow-together-text,
.your-users-section-text {
  width: 37.14rem;
  height: 11rem;
  margin: 14rem auto;
}
.grow-together-section,
.your-users-section {
  display: flex;
  background-size: cover;
  margin: 0 auto;
  z-index: 3;
  position: relative;
}
.your-users-section {
  margin-top: -20rem;
}
.grow-together-container,
.your-users-section-container {
  width: 100%;
  background-color: var(--bluegrey);
  margin: 0 auto;
}
#grow-together-bg-top,
#your-users-bg-top {
  height: 120px;
  width: 100%;
  background-image: url("./images/bg-section-top-desktop-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0;
  z-index: 2;
  display: block;
  margin: 0 auto;
}

#grow-together-bg-top {
  background-image: url("./images/bg-section-top-desktop-1.svg");
  top: 9.5rem;
}

#your-users-bg-top {
  position: absolute;
  top: 234rem;
}

#grow-together-bg-bottom,
#your-users-bg-bottom {
  height: 9rem;
  width: 100%;
  background-image: url("./images/bg-section-bottom-desktop-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0;
  top: 650px;
  z-index: 2;
  display: block;
  margin: 0 auto;
}

#your-users-bg-bottom {
  top: 29rem;
}
.flowing-conversation-container {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20rem 0;
  margin-top: 10rem;
  margin-bottom: 20rem;
}
.flowing-conversation-section {
  width: 86rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20rem auto;
}
.flowing-conversation-section > div {
  width: 40%;
  margin: 0 auto;
}
.flowing-conversation-section img {
  width: 40rem;
  height: 40rem;
  padding: 5rem;
}

.cta-section {
  width: 49rem;
  height: 13rem;
  margin: 20rem auto;
  margin-bottom: 12rem;
  text-align: center;
}
footer {
  font-family: roboto;
  font-weight: 300;
  font-size: 1rem;
}
div.footer-container {
  background-color: var(--darkgreen);
  color: var(--white);
  display: flex;
  width: 100%;
  height: 40rem;
  margin: 0 auto;
}
#footer-bg-top {
  width: 100%;
  height: 11rem;
  background-image: url("./images/bg-footer-top-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0%;
  top: 90%;
  z-index: 4;
  display: block;
  margin: 0 auto;
}

div.footer-container > div {
  width: 40%;
  margin: 10rem;
}

div.footer-division-1 > path {
  fill: var(--white);
  outline: var(--white);
}
.footer-logo {
  padding-bottom: 2rem;
}
.footer-cta-section {
  width: 37.1rem;
  height: 15.1rem;
  padding-top: 1rem;
  line-height: 2;
}
.social-icons > svg {
  margin-right: 1.2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.social-icons > svg :hover {
  fill: var(--lightblue);
}
