:root {
  --pink: #fd53c0;
  --darkgreen: #01262f;
  --grey: #f6fbff;
  --white: #ffffff;
  --verydark: #000000;
}
html{
  box-sizing: border-box;
  font-size: 14px;
  font-family: monospace;
}
/* body{
  
} */
header{
  width: 1297px;
  height: 40px;
  margin-top: 30px;
}
header img{
  float: left;
  width: 240px;
  height: 38px;
}

.try-it-free-btn{
  border-radius: 30px;
  border: 2px solid var(--pink);
  float: right;
  height: 40px;
  width: 136px;
  color: var(--pink);
  align-items: center;
  justify-items: center;
  background-color: unset;
}
.hero-section{
  height: 1157px;
  width: 1017px;
  border: 1px solid palevioletred;
  margin: 0 auto;
  text-align: center;
}
 h1{
  /* height: 72px;
  width: 1014px; */
  text-align: center;
  padding-top: 30px;
  font-size: 2rem;
  font-weight: bolder;
}
.hero-section h2{
  width: 600px;
  height: 90px;
  text-align: center;
  margin: 0 auto;
} 
.get-started-btn{
  border: solid var(--pink);
  background-color: var(--pink);
  border-radius: 50px;
  color: var(--white);
  width: 400px;
  height: 80px;
  font-size: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
}